
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background-color-rgb: 12, 16, 28;
    --background-color: rgba(var(--background-color-rgb), 1);

    --color-rgb: 245, 245, 245;
    --color: rgba(var(--color-rgb), 1);

    --gray1_: 225;
    --gray1-rgb: var(--gray1_), var(--gray1_), var(--gray1_);
    --gray1: rgba(var(--gray1-rgb), 1);

    --gray2_: 200;
    --gray2-rgb: var(--gray2_), var(--gray2_), var(--gray2_);
    --gray2: rgba(var(--gray2-rgb), 1);

    --play-button-background-color: rgba(12, 16, 68, 0.8);
    --action-color: aqua;
    --focus-color: yellow;

    font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vh;
}

* {
    border:  0px;
    margin:  0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: var(--focus-color);
}

img {
    object-fit: contain;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    padding: 4vh;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 0.9rem;
}

video {
    background-color: var(--background-color);
    max-height: 100vh;
    max-width: 100vw;
    width: 100%;
}

div#content > p > a {
    display: grid;
    grid-template: "article title decoration" / 1rem 1fr 0.5rem;
}

.article {
    grid-area: article;
    text-align: right;
    white-space: pre;
}

.article {
    vertical-align: super;
    font-size: 0.5rem;
    color: var(--gray1);
}

.title {
    grid-area: title;
    text-indent: -1rem; margin-left: 1rem;
}

.group {
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--gray1);
    border-top: 0.025rem solid whitesmoke;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.subgroup {
    font-size: 0.75rem;
    color: var(--gray1);
    border-top: 0.025rem solid whitesmoke;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.one-image {
    margin: -4vh; /* Reverses effect of body padding*/
    margin-bottom: -10vh;
    width: 100vw;
    height: min(56.25vw, 100vh);
    /* height: 9rem; width: 16rem;  */
    object-fit: cover;
}

.item-image {
    width: 100vw;
    height: min(56.25vw, 100vh);
    margin-left: -4vh; /* Reverses effect of body padding*/
    margin-right: -4vh; /* Reverses effect of body padding*/
    margin-bottom: 6vh;
    margin-top: 2vh;
    object-fit: cover;
}

#now-playing {
    white-space: nowrap;
    overflow: hidden;
    padding: 3vh;
    height: 40vh;
    transition: font-size 0.6s ease, height 0.6s ease, padding 0.6s ease;
}

body[data-library-unused] #now-playing {
    height: 100vh;
    font-size: 10vh;
    padding: 10vh;
    transition: font-size 0.6s ease, height 0.6s ease, padding 0.6s ease;
}

#now-playing[data-no-content] {
    visibility: hidden;
}

#now-playing[data-playing]::before {
    content: '➼';
    position: absolute;
    left: 1vh;
}

#now-playing-track {
    font-weight: bold;
}

#now-playing-track-number {
    display: inline;
}

#now-playing-track-count {
    display: inline;
}

#now-playing-track-count::before {
    content: ' of ';
}

#library {
    padding: 3vh;
}

#library div {
    white-space: nowrap;
    overflow: hidden;
    color: silver;
}

#library div[data-selected] {
    color: whitesmoke;
}

#library-artist {
    font-size: 12vh;
    font-weight: 600;
}

#library-album {
    font-size: 10vh;
    font-weight: 500;
}

#library-track {
    font-size: 9.75vh;
}

#library-current-number {
    display: inline;
}

#library-current-count {
    display: inline;
}

#library-current-count::before {
    content: ' of ';
}

#environment {
    position: fixed;
    left: 93vw;
    width: 8vh;
    height: 8vh;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    border-width: thick;
    border-color: whitesmoke;
    border-style: solid;
}

#environment[data-name='0'] {
    display: none;
}

body[data-volume='10'] #environment {
    border-color: red;
}
body[data-volume='11'] #environment {
    border-color: red;
}
body[data-volume='12'] #environment {
    border-color: red;
}
body[data-volume='13'] #environment {
    border-color: red;
}
body[data-volume='14'] #environment {
    border-color: red;
}
body[data-volume='15'] #environment {
    border-color: red;
}
body[data-volume='16'] #environment {
    border-color: red;
}
body[data-volume='17'] #environment {
    border-color: red;
}
body[data-volume='18'] #environment {
    border-color: red;
}
body[data-volume='19'] #environment {
    border-color: red;
}
body[data-volume='20'] #environment {
    border-color: red;
}
body[data-volume='21'] #environment {
    border-color: red;
}
body[data-volume='22'] #environment {
    border-color: red;
}
body[data-volume='23'] #environment {
    border-color: red;
}
body[data-volume='24'] #environment {
    border-color: red;
}

.latest::after { content: " ←"; grid-area: decoration; }
